.boilers {
  padding-top: 50px;
  padding-bottom: 30px;
}

.boilers h1 {
  color: #E31F25;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.boilers h1::before,
.boilers h1::after {
  display: inline-block;
  content: "";
  border-top: .3rem solid #F07F1B;
  width: 42%;
  margin: 0 1rem;
  transform: translateY(-0.75rem);
}

.boilers .item {
  border: 2px solid #C6C7C7;
  padding: 15px;
  margin-bottom: 20px;
}

.boilers .item ul {
  list-style-type: none;
  padding: unset;
  margin: unset;
}

.boilers .item .item-image {
  height: 300px;
}

.boilers .item .item-image a {
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.boilers .item .item-name a {
  color: #F07F1B;
  text-decoration: none;
  font-size: 20px;
}

.boilers .item .item-name a:hover {
  color: #EB5E22;
}

.boilers .item .item-params {
  margin: 10px 0 25px 0;
}

.boilers .item .item-footer {
  width: calc(100% + 30px);
  height: 10px;
  background-color: #F07F1B;
  margin: -15px;
}
