.footer {
  background-color: var(--footer-bg-color);
}

.footer ul {
  list-style-type: none;
  padding: unset;
  margin: unset;
}

.footer a {
  text-decoration: none;
  color: var(--footer-color);
}

.footer a:hover {
  color: var(--footer-color-hover);
}

.footer .footer-logo {
  text-align: center;
}

.footer .footer-logo img {
  width: 100%;
  margin: 25px 0;
  max-width: 400px;
}

.footer .footer-info {
  color: var(--footer-color);
  padding-bottom: 25px;
}

.footer .footer-info .footer-info__about p {
  margin-bottom: 4px;
}

.footer .footer-info .footer-info__about .footer-info__title {
  font-size: 20px;
}

.footer .footer-info .footer-info__menu a {
  text-transform: uppercase;
}

@media (max-width: 575px) {
  .footer .footer-info {
    text-align: center;
  }
  
  .footer .footer-info div {
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .footer .footer-info {
    text-align: center;
  }
  
  .footer .footer-info div {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}
