.reviews {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 30px;
}

.reviews h1 {
  text-transform: uppercase;
}

#carousel-reviews .carousel-caption {
  position: relative;
  color: black;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
}

#carousel-reviews .carousel-control-prev-icon {
  background-image: url("../images/prev-icon.png");
}

#carousel-reviews .carousel-control-next-icon {
  background-image: url("/assets/images/next-icon.png");
}
